.background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--d9d9d92);
}
.text {
  position: absolute;
  width: calc(100% - 49px);
  top: calc(50% - 7px);
  left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addPdtButton {
  position: absolute;
  top: 85px;
  right: 27px;
  width: 200px;
  height: 30px;
  cursor: pointer;
  color: var(--w-background);
}
.backgroundIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.signupText {
  position: absolute;
  width: 66.7%;
  top: 26.67%;
  left: 17.04%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.button,
.sideBar,
.text1 {
  position: absolute;
}
.sideBar {
  width: 7.61%;
  top: 86px;
  right: 75.26%;
  left: 17.13%;
  height: 30px;
  color: var(--w-background);
}
.text1 {
  top: 7px;
  right: 5px;
  line-height: 134.77%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82px;
}
.background1 {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: var(--br-8xs);
  border: 1px solid var(--d9d9d92);
  box-sizing: border-box;
  width: 115px;
  height: 30px;
}
.sharefillIcon {
  position: absolute;
  top: 7px;
  right: 78px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.exportButton {
  position: absolute;
  top: 86px;
  right: 236px;
  width: 115px;
  height: 30px;
}
.text2 {
  position: absolute;
  width: 45.83%;
  top: calc(50% - 7px);
  left: 34.72%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vectorIcon,
.vectorIcon1 {
  position: absolute;
  height: 37.67%;
  width: 7.78%;
  top: 31.33%;
  right: 77.08%;
  bottom: 31%;
  left: 15.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon1 {
  height: 3.33%;
  width: 15.83%;
  top: 50%;
  right: 67.92%;
  bottom: 46.67%;
  left: 16.25%;
}
.backButton {
  position: absolute;
  height: 3.05%;
  width: 4.76%;
  top: 8.76%;
  right: 83.8%;
  bottom: 88.19%;
  left: 11.44%;
  color: var(--w-background);
}
.background3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--w-background);
}
.logo {
  position: absolute;
  top: 28.19%;
  left: 2.05%;
  text-transform: uppercase;
}
.notificationsstyle4Icon {
  width: 30px;
  position: relative;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.icons,
.navbar {
  position: absolute;
}
.icons {
  height: 41.67%;
  width: 11.71%;
  top: 29.17%;
  right: 1.98%;
  bottom: 29.17%;
  left: 86.31%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.navbar {
  top: 0;
  left: 0;
  width: 1512px;
  height: 72px;
  text-align: left;
  font-size: var(--font-size-5xl);
}
.background4,
.sidePannel {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 var(--br-6xs) var(--br-6xs) 0;
  background-color: var(--color-whitesmoke-100);
}
.background4 {
  border-radius: var(--br-8xs);
  background-color: var(--d9d9d93);
}
.text3 {
  position: absolute;
  width: calc(100% - 49px);
  top: calc(50% - 7.35px);
  left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonPrimary3,
.light {
  position: absolute;
  height: 17.54%;
  width: 75.16%;
  top: 70.86%;
  right: 12.42%;
  bottom: 11.6%;
  left: 12.42%;
}
.buttonPrimary3 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
.light1 {
  position: absolute;
  height: 17.54%;
  width: 75.16%;
  top: 70.69%;
  right: 12.42%;
  bottom: 11.77%;
  left: 12.42%;
  cursor: pointer;
}
.signupText1 {
  position: absolute;
  width: 66.7%;
  top: 26.71%;
  left: 17.04%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.light2,
.light3,
.sideBarButtons {
  position: absolute;
  height: 17.54%;
  width: 75.16%;
  right: 12.42%;
  left: 12.42%;
  cursor: pointer;
}
.sideBarButtons {
  top: 50.69%;
  bottom: 31.77%;
  color: var(--w-background);
}
.light2,
.light3 {
  top: 30.69%;
  bottom: 51.77%;
}
.light3 {
  top: 10.69%;
  bottom: 71.77%;
}
.sidePanel,
.titleBarChild {
  position: absolute;
  width: 10.12%;
  top: 72px;
  right: 89.88%;
  left: 0;
  height: 175px;
}
.titleBarChild {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--w-background);
  border-top: 0.1px solid var(--color-darkslategray-100);
  border-bottom: 0.1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
}
.id,
.name,
.price,
.status,
.stocks {
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.id {
  width: 70px;
  min-width: 70px;
  max-width: 70px;
}
.name,
.price,
.status,
.stocks {
  width: 140px;
}
.price,
.status,
.stocks {
  width: 100px;
}
.status,
.stocks {
  width: 90.1px;
}
.stocks {
  width: 220px;
}
.idParent {
  position: absolute;
  height: 23.44%;
  width: 77.63%;
  top: 40.63%;
  right: 20.69%;
  bottom: 35.94%;
  left: 1.67%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.titlebar {
  position: absolute;
  width: 86.9%;
  top: 130px;
  right: 1.79%;
  left: 11.31%;
  height: 64px;
  text-align: left;
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.productRowChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--w-background);
  border-top: 0.1px solid var(--color-darkslategray-100);
  border-bottom: 0.1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
}
.div,
.div2,
.productA {
  width: 70px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.div2,
.productA {
  width: 140px;
}
.div2 {
  width: 100px;
}
.vectorIcon2 {
  width: 16px;
  position: relative;
  height: 16px;
}
.inStock {
  width: 67.1px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.status1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0;
  gap: var(--gap-6xs);
}
.text7 {
  position: absolute;
  height: 54.5%;
  width: 77.58%;
  top: 24%;
  left: 11.52%;
  line-height: 134.77%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  border: 1px solid var(--d9d9d92);
  box-sizing: border-box;
}
.button2 {
  width: 99px;
  position: relative;
  height: 20px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-2xs);
  font-family: var(--font-roboto);
}
.deleteFill0Wght400Grad0OpsIcon,
.editFill0Wght400Grad0Opsz2Icon {
  position: absolute;
  height: 100%;
  width: 29.2%;
  top: 0;
  right: 70.8%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.editFill0Wght400Grad0Opsz2Icon {
  right: 0;
  left: 70.8%;
}
.editDelete {
  width: 56.5px;
  position: relative;
  height: 14px;
}
.parent {
  position: absolute;
  top: 16.7px;
  left: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.productRow {
  width: 1314px;
  position: relative;
  height: 64px;
}
.table {
  position: absolute;
  top: 194px;
  left: 171px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-family: var(--font-inter);
}
.dropdownOption {
  flex: 1;
  position: relative;
  line-height: 24px;
  z-index: 0;
}
.filterIcon {
  width: 16px;
  position: absolute;
  margin: 0 !important;
  top: 4px;
  left: 118px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.dropdowns,
.inputField,
.text11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text11 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
  gap: var(--gap-5xs);
}
.dropdowns,
.inputField {
  flex-direction: column;
}
.inputField {
  width: 167px;
  border-radius: var(--br-5xs);
  background-color: var(--w-background);
  border: 1px solid var(--color-darkslategray-400);
  box-sizing: border-box;
  height: 31px;
  padding: var(--padding-11xs) var(--padding-base);
}
.dropdowns {
  position: absolute;
  top: 86px;
  left: 978px;
  width: 166px;
  height: 35px;
  text-align: left;
  color: var(--color-dimgray-100);
  font-family: var(--font-noto-sans);
}
.inventoryPage {
  width: 100%;
  position: relative;
  background-color: var(--color-gainsboro-100);
  height: 982px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--d9d9d92);
  font-family: var(--font-roboto);
}
